<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>TEST PAGE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    {% csrf_token %} {% include 'js-logger.html' %}
    <br />
    <button onclick="throwError()" style="color: red">THROW ERROR</button>
  </body>
  <script>
    var errorNum = 0; function throwError() {
      throw new Error("Hello from error number " + errorNum++ + "!");
    }

    console.debug("Hello from console.debug!");
    console.info("Hello from console.info!");
    console.log("Hello from console.log!");
    console.warn("Hello from console.warn!");
    console.error("Hello from console.error!");
    console.assert(false, "Hello from console.assert!");

    function testLog() {
      console.warn("Hello from console.log!");
    }
    function nestedLog() {
      testLog();
    }
    nestedLog();
    throw 42;
  </script>
</html>
